$clr-primary-1:hsl(26, 100%, 55%);
$clr-primary-2:hsl(25, 100%, 94%);

$clr-neutral-1:hsl(220, 13%, 13%);
$clr-neutral-2:hsl(219, 9%, 45%);
$clr-neutral-3:hsl(220, 14%, 75%);
$clr-neutral-4:hsl(223, 64%, 98%);
$clr-neutral-5:hsl(0, 0%, 100%);
$clr-neutral-6:hsl(0, 0%, 0%);

$ff-primary:"Kumbh Sans", sans-serif;

*,*::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.hidden{
    display: none;
}
button{
    background:transparent;
    border: none;
}

body{
    font-family: $ff-primary;
    margin: 0;
}

.navigation{
    &__container{

        padding-block: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: min(1440px,100% - 2rem);
        margin-inline: auto;
        position: relative;

        &--logo-links{
            display: flex;
           gap: 2rem;
        }

       .nav-list{
        position: fixed;
        z-index: 1000;
        background: $clr-neutral-5;
        padding-block: 2rem;
        padding-inline: 2rem;
        height: 100vh;
        width: 70%;
        left: 0;
        top: 0;

        #close-btn{
            margin-bottom: 3rem;
        }

        ul{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            li a{
                text-decoration: none;
                color: $clr-neutral-6;
                font-weight: 700;
                font-size: 1.2rem;
            }
        }

       }
        .cart-account{
            position: relative;
            display: flex;
           gap: 1rem;
            align-items: center;
            button i{
                color: $clr-neutral-3;
            }
            &__avatar{
                height: 2rem;
                width: 2rem;
                border-radius: 50%;
                img{
                    display: block;
                    max-width: 100%;
                }
            }
            .cart-content{
                position:fixed;
                left: 0;
                right: 0;
                top: 7rem;
                width: min(30rem,100% - 2rem);
                margin: auto;
                z-index: 100;
                background: $clr-neutral-5;
                min-height: 18rem;
                max-height: 20rem;
                border-radius: 10px;
                
                &__heading{
                    font-weight: 700;
                    padding: 2rem;
                }
                &__divider{
                    height: 1px;
                    background: $clr-neutral-3;
                    width: 100%;
                }
                &__item{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding: 1rem;
                    margin-bottom: 2rem;
                    .product{
                        height: 3.5rem;
                        width: 3.5rem;
                        border-radius: 10px;
                        overflow: hidden;
                        img{
                          width: 100%;
                          height: 100%;
                          object-fit: contain;
                        }
                    }
                    .item-description{
                        p{
                            line-height: 2;
                            color: $clr-neutral-2;
                        }
                        .item-quantity{
                            .cart-total{
                                color: $clr-neutral-6;
                                font-weight: 700;
                            }
                        }
                    }

                }
                button[data-name="checkout"]{
                    width: 90%;
                    background: $clr-primary-1;
                    padding: 1rem;
                    border-radius: 10px;
                    margin-inline: auto;
                    font-weight: 700;
                    font-size: 1.1rem;
                    display: block;
                }
            }
        }
    }
    &__logo-container{
        display: flex;
       gap: 1rem;
        align-items: center;
        button i{
            color: $clr-neutral-3;
        }
    }
}
@media(min-width:768px){
    .navigation{
        &__container{
            .cart-account{
                width: auto;
                .cart-content{
                    left: auto;
                    right: 5rem;
                    border: 1px solid red;
                }
            }
            .nav-list{
                display: block;
                padding: 0;
                position: static;
                height: auto;
                #close-btn{
                    display: none;
                }
                ul{
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    li a{
                        text-decoration: none;
                    }
                }
            }
        }
        &__logo-container{
            width: auto;
            button{
                display: none;
            }
        }
    }
}
.main-content{
    &__container{
        margin-bottom: 2rem;
        .even-columns{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .product-image{
                position: relative;
                img{
                    display: block;
                    max-width: 100%;
                }
                &__previous, &__next{
                    position: absolute;
                    width: 2rem;
                    height: 2rem;
                    background-color: $clr-neutral-5;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    top: 50%;
                    img{
                        display: block;
                        max-width: 100%;
                    }
                }
                &__previous{
                    left:1rem;
                }
                &__next{
                    right: 1rem;
                }
            }

            .product-information{
                width: min(1400px,100% - 2rem);
                margin-inline: auto;
                &__heading1{
                    color: $clr-neutral-2;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 0.9rem;
                    margin-bottom: 1rem;
                }
                &__heading2{
                    font-size: 1.8rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }
                &__description{
                    color: $clr-neutral-2;
                    line-height: 1.5;
                    margin-bottom: 1.5rem;
                }

                &__pricing{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-bottom: 2rem;
                    &--price{
                        display: flex;
                        align-items: center;
                        gap: 2rem;
                        .price{
                            font-size: 2rem;
                            font-weight: 700;
                        }
                        .percent{
                            padding: 0.5rem 0.8rem;
                            border-radius: 10px;
                            background: $clr-neutral-6;
                            color: $clr-neutral-4;
                            font-weight: 700;
                        }
                    }
                    &--previous-price{
                        font-size: 1.3rem;
                        color: $clr-neutral-2;
                        font-weight: 700;
                        text-decoration: line-through;
                    }
                }
                &__quantity{
                    &--buttons{
                        display: flex;
                        justify-content: space-between;
                        background-color: $clr-neutral-4;
                        padding: 1.5rem;
                        border-radius: 10px;
                        margin-bottom: 1rem;
                    }
                    &--add-to-cart{
                        background-color: $clr-primary-1;
                        text-align: center;
                        font-weight: 600;
                        width: 100%;
                        padding: 1.5rem;
                        border-radius: 10px;
                      
                    }
                }
                
            }

        }
    }
}